body {
    font-family: Arial, sans-serif;
    background: #cbc4b5;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.input-area {
    margin-bottom: 20px;
}

#taskInput {
    padding: 8px;
    width: 400px;
}

#addBtn {
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

li {
    display: grid;
    grid-template-columns: 2fr 1fr auto auto; /* タスク名｜〆切｜完了ボタン｜削除ボタン */
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.task-text {
    font-weight: bold;
}

.task-deadline {
    text-align: center;
    color: gray;
}